<%- include('templates/start') %>
<%- include('templates/sidebar') %>
<div class="ps-96">
    <%- include('templates/navbar') %>
    <%- include('templates/index-page') %>
</div>
<%- include('templates/playbar') %>
<%- include('templates/end') %>